<main class="login">
  <form class="login__body">
    <div class="login__header">
      <h1 class="login__title">
        Вход
      </h1>
    </div>
    <div class="login__content">
      {{{loginInp}}}
      {{{password}}}
    </div>
    <div class="login__footer">
      {{{primary}}}
      <div class="login__link"> {{{default}}}</div>
    </div>
  </form>
  {{{nav}}}
</main>
