<div class="chat">
  <div class="sidebar">
    <div class="sidebar__wrapper">
      <header class="sidebar__header">
        <div class="sidebar__back">
         {{{buttonProfile}}}
        </div>
        <input type="text" placeholder="Поиск" class="search" />
      </header>
    </div>
     <div class="contacts__wrapper">
      {{{chats}}}
     </div>

      <div class="sidebar__create-chat">
        <div class="create-chat__button">
          {{{buttonCreateChat}}}
        </div>
          {{{createChattooltip}}}
     </div>

   
  </div>
  {{#if chatIsActive}}
      <div class="main-layout">
    <header class="main-layout__header">
      <div class="header__chat-person">
        <div class="chat-person__avatar">
          <img src="{{{defaultUserPhoto}}}" alt="user-avatar">
        </div>
        <p class="chat-person__name">
          {{name}}
        </p>
      </div>
      {{{buttonMenu}}}      
      {{{headTooltip}}}
    </header>
    <div class="main-layout__content">
      {{{date}}}
              
              
              
              {{{dialog}}}
                       
                  
       {{{me}}}
       {{{massenger}}}
    </div>
    <footer class="main-layout__footer">
     
      {{{buttonAttachment}}}
      {{{footTooltip}}}
      {{{inputMessehger}}}
      <input type="text" name="message" class="input__message" placeholder="Сообщение"/>
      {{{buttonSend}}}
    </footer>
  </div>
    {{else}}
    {{{placeholder}}}
  {{/if}}
    {{!-- <div class="main-layout">
    <header class="main-layout__header">
      <div class="header__chat-person">
        <div class="chat-person__avatar">
          <img src="{{{defaultUserPhoto}}}" alt="user-avatar">
        </div>
        <p class="chat-person__name">
          Пётр
        </p>
      </div>
      {{{buttonMenu}}}      
      {{{headTooltip}}}
    </header>
    <div class="main-layout__content">
      {{{date}}}
        {{#each messageArea}}
           {{{this}}}
       {{/each}}
       {{{me}}}
       {{{massenger}}}
    </div>
    <footer class="main-layout__footer">
     
      {{{buttonAttachment}}}
      {{{footTooltip}}}
      {{{inputMessehger}}}
      <input type="text" name="message" class="input__message" placeholder="Сообщение"/>
      {{{buttonSend}}}
    </footer>
  </div> --}}
  {{#if popup}}
  {{{popup}}}
  {{/if}}
</div>
