<div class="chat">
  <div class="sidebar">
    <div class="sidebar__wrapper">
      <header class="sidebar__header">
        <div class="sidebar__back">
          <a href="/profile">
            <p>Профиль</p>
            <svg width="6" height="10" viewBox="0 0 6 10" fill="none">
              <path d="M1 9L5 5L1 1" stroke="#999999"></path>
            </svg>
          </a>
        </div>
        <input type="text" placeholder="Поиск" class="search" />
      </header>
    </div>
     <div class="contacts__wrapper">
       {{#each contactArea}}
           {{{this}}}
       {{/each}}
     </div>
  </div>
  {{!-- <main class="main-layout">
    <p class="main-layout__title">
      Выберите чат чтобы отправить сообщение
    </p>
  </main> --}}
    <div class="main-layout">
    <header class="main-layout__header">
      <div class="header__chat-person">
        <div class="chat-person__avatar">
          <img src="{{{defaultUserPhoto}}}" alt="user-avatar">
        </div>
        <p class="chat-person__name">
          Пётр
        </p>
      </div>
      {{{buttonMenu}}}      
      {{{headTooltip}}}
    </header>
    <div class="main-layout__content">
      {{{date}}}
        {{#each messageArea}}
           {{{this}}}
       {{/each}}
       {{{me}}}
       {{{massenger}}}
    </div>
    <footer class="main-layout__footer">
     
      {{{buttonAttachment}}}
      {{{footTooltip}}}
      {{{inputMessehger}}}
      <input type="text" name="message" class="input__message" placeholder="Сообщение"/>
      {{{buttonSend}}}
    </footer>
  </div>

</div>
