<div class="profile">
  <div class="profile__back">
    {{{button.back}}}
  </div>
  <div class="profile__wrapper">
    <div class="profile__avatar">
        {{#if defaultUserPhoto}}
        <img src="{{{defaultUserPhoto}}}" alt="userPhoto" />
        <input class="avatar__photo" type="file" accept="image/*" name="avatar">
        {{/if}}
        <p>Поменять аватар</p>
    </div>
    <div class="profile__user-name">{{{userData.firstName}}}</div>
    {{#if changePassword}}
    <div class="profile__content">
        <div class="profile__item">
            <p>Старый пароль</p>
            <input  class="profile__item--gray" placeholder="Введите стырый пароль" name="oldPassword" type="password"/>
        </div>
        <div class="profile__item">
            <p>Новый пароль</p>
            <input  class="profile__item--gray" placeholder="Ваш новый пароль" name="newPassword" type="password"/>
        </div>
        <div class="profile__item">
            <p>Повторите новый пароль</p>
            <input  class="profile__item--gray" placeholder="Ваш новый пароль" name="newPassword" type="password"/>
        </div>
    </div>
    {{/if}}    
    {{#if changeUserData}}
    <div class="profile__content">
        <div class="profile__item">
            <p>Почта</p>
            <input  class="profile__item--gray" placeholder="Новая почта" name="email" type="email" />
        </div>
        <div class="profile__item">
            <p>Логин</p>
            <input  class="profile__item--gray" placeholder="Новый логин" name="login" type="text"/>
        </div>
        <div class="profile__item">
            <p>Имя</p>
            <input  class="profile__item--gray" placeholder="Введите имя" name="first_name" type="text"/>
        </div>
        <div class="profile__item">
            <p>Фамилия</p>
            <input  class="profile__item--gray" placeholder="Введите фамилию" name="second_name" type="text"/>
        </div>
        <div class="profile__item">
            <p>Имя в чате</p>
            <input  class="profile__item--gray" placeholder="Желаемое имя в чате" name="display_name" type="text"/>
        </div>
        <div class="profile__item">
            <p>Телефон</p>
            <input  class="profile__item--gray" placeholder="Телефон" name="phone" type="tel"/>
        </div>
    </div>
    {{/if}}  
    {{#if profile}}
    <div class="profile__content">
        <div class="profile__item">
            <p>Почта</p>
            <p  class="profile__item--gray">{{{userData.email}}}</p>
        </div>
        <div class="profile__item">
            <p>Логин</p>
            <p class="profile__item--gray">{{{userData.login}}}</p>
        </div>
        <div class="profile__item">
            <p>Имя</p>
            <p class="profile__item--gray">{{{userData.firstName}}}</p>
        </div>
        <div class="profile__item">
            <p>Фамилия</p>
            <p class="profile__item--gray">{{{userData.secondName}}}</p>
        </div>
        <div class="profile__item">
            <p>Имя в чате</p>
            <p class="profile__item--gray">{{{userData.nameInChat}}}</p>
        </div>
        <div class="profile__item">
            <p>Телефон</p>
            <p class="profile__item--gray">{{{userData.phone}}}</p>
        </div>
    </div>
    {{/if}}
    <div class="profile__footer {{#unless profile}} profile__footer--btn  {{/unless}}">
      {{#unless profile}}
      {{{button.primary}}} 
      {{else}}
      <a href="changeData">
          <div class="profile__item profile__item--btn">{{{button.changeData}}}</div>
      </a>
      <a href="changePassword">
          <div class="profile__item profile__item--btn">{{{button.changePassword}}}</div>
      </a>
      <a href="login">
          <div class="profile__item profile__item--btn">{{{button.exit}}}</div>
      </a>
      {{/unless}}
    </div>
  </div>
</div>
