<main class="sign">
  <form class="sign__body">
    <div class="sign__header">
      <h1 class="sign__title">
        Регистрация
      </h1>
    </div>
    <div class="sign__content">
      {{{input.email}}}
      {{{input.login}}}
      {{{input.firstName}}}
      {{{input.secondName}}}
      {{{input.phone}}}
      {{{input.password}}}
      {{{input.passwordAgain}}}
    </div>
    <div class="sign__footer">
      {{{button.primary}}}
      <a href="/login" class="sign__link">{{{button.default}}}</a>
    </div>
  </form>
</main>
