<main class="sign">
  <form class="sign__body">
    <div class="sign__header">
      <h1 class="sign__title">
        Регистрация
      </h1>
    </div>
    <div class="sign__content">
      {{{email}}}
      {{{login}}}
      {{{firstName}}}
      {{{secondName}}}
      {{{phone}}}
      {{{password}}}
      {{{passwordAgain}}}
    </div>
    <div class="sign__footer">

      {{{primary}}}
      <a href="/login" class="sign__link">{{{default}}}</a>
    </div>
  </form>
</main>
