<div class="sign">
  <div class="sign__body">
    <div class="sign__header">
      <div class="sign__title">
        Регистрация
      </div>
    </div>
    <div class="sign__content">
      {{{input.email}}}
      {{{input.login}}}
      {{{input.firstName}}}
      {{{input.secondName}}}
      {{{input.phone}}}
      {{{input.password}}}
      {{{input.passwordAgain}}}
    </div>
    <div class="sign__footer">
      {{{button.primary}}}
      <a href="/login" class="sign__link">{{{button.default}}}</a>
    </div>
  </div>
</div>