  <nav class="nav">
    <h1>Навигация</h1>
        {{{navBtn}}}
    <ul>
      <li>
        {{{messenger}}}
      </li>
      <li class="nav__item">
        {{{profile}}}
      </li>
      <li class="nav__item">
        {{{changeData}}}
      </li>
      <li class="nav__item">
        {{{changePassword}}}
      </li>
      <li class="nav__item">
        {{{login}}}
      </li>
      <li class="nav__item">
        {{{signin}}}
      </li>
      <li class="nav__item">
        {{{e404}}}
      </li>
      <li class="nav__item">
       {{{e500}}}
      </li>
    </ul>
  </nav>
